{{define "base"}}
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="Invido Site Preprocessor" />

  <title>Invido Site Preprocessor</title>

  <!-- css local-->
  <link rel="stylesheet" href="static/css/elementui.css" />
  
  
  
  <!-- othe libs -->
  <script src="{{.RootUrl}}static/js/ext/textile.js"></script>

  <!-- dev/prod vue -->
  <script src="{{.RootUrl}}static/js/ext/{{.VueLibName}}?{{.Buildnr}}"></script>
  <script src="{{.RootUrl}}static/js/ext/vue-resource.js?{{.Buildnr}}"></script>
 
  <!-- after vue-->
  <script src="./static/js/ext/vue-router.js?{{.Buildnr}}"></script>
  <script src="./static/js/ext/vuex.js?{{.Buildnr}}"></script>

</head>

<body>
  <div id="app"></div>
</body>
<script>
  window.myapp = { buildnr: "{{.Buildnr}}" }
</script>
<script type="module">
  import { app } from './static/js/vue/main.js?{{.Buildnr}}'
</script>

</html>
{{end}}