{{define "base"}}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Invido site pre processor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/semantic-2.4-2.min.js"></script>
  <script src="static/js/textile.js"></script>

  <link rel="stylesheet" href="static/css/semantic.css" />
</head>

<body>
  <div class="ui container">

    <div class="ui attached message">
      <div class="header">
        Editing Post
      </div>
    </div>
    <form class="ui form attached fluid segment" action="/save-post/" method="POST">
      <div class="field">
        <label>File name</label>
        <input placeholder="TitlePost" disabled="true" name="titlepost" type="text" size="35" value='{{printf "%s" .TitlePost}}'>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Post</label>
          <textarea id="post" rows="25" cols="110" name="contentpost" placeholder="ContentPost">{{printf "%s" .ContentPost}}</textarea>
        </div>
        <div class="field">
          <label>Preview</label>
          <div id="preview"></div>
        </div>
      </div>
      <div>
        <!-- <input class="ui blue submit button" type="submit" value="Save" > --> <!-- Save with page reload -->
        <a class="ui button" id="btsave" data-content="Save the current post"><i class="save outline icon"></i></a> <!-- Save without page reload -->
        <a class="ui button" id="bttextile" data-content="Preview"><i class="code icon"></i></a>
        <a class="ui button" id="btbuildindex" data-content="Create all index-00-99.page files" >Create Index Pages</a>
        <a class="ui button" id="btrunwebgen" data-content="Run webgen to update the full site">Start Webgen</a>
        <a class="ui button" id="btgotowebgenout" data-content="Open webgen output in a new browser window">Navigate to webgen out</a>
      </div>

    </form>

    {{if .LastMessage}}
    <div name="preprocessor" class="ui message transition">
      <i id="preproc-close" class="close icon"></i>

      <div class="header">
        Preprocessor
      </div>
      <p>{{printf "%s" .LastMessage}}</p>
    </div>
    {{end}}
    <div name="feedback" id="feedback" class="ui message transition hidden"></div>
   
    <div class="ui vertical segment">
      
    </div>
    <div class="ui vertical segment">
      <p>Il post si edita con il formato <a href="http://borgar.github.com/textile-js/" target="_blank">textile</a> per il render (in webgen è RedCloth). I link sono del
        formato <code>"testo":http://url</code>.
        Nota che le apici sono <b>SOLO</b> attorno alla prima parola, quella prima dei due punti.</p>
    </div>
    <div class="ui vertical segment">
      <p>Le immagini messe in src/images si referenziano nel post usando il seguente comando:</p>
      <code>{{print "<a href=\"{relocatable: /images/nuovaimg.PNG}\"><img width=\"300\" src=\"{relocatable: /images/nuovaimg.PNG}\"></a>"}}
      </code>
    </div>
    <div class="ui vertical segment">
      <p>Una volta salvato il post, bisogna ricreare gli indici con il comando <i>Create Index Pages</i></p>
      <p>Poi con Webgen si crea il sito completo che va poi sincronizzato con WLC (comando ./sync_site_invido.sh)</p>
    </div>

    <div class="ui vertical footer segment">
      <div class="ui container">
        <div class="ui stackable  divided equal ten stackable grid">
          <div class="five wide column">
            <h4 class="ui header">Version</h4>
            <p>Software build {{.Buildnr}}</p>
          </div>
          <div class="seven wide column">
            <h4 class="ui header">Info</h4>
            <p><i class="copyright icon"></i> 2018 by Invido.it</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Put here script to beloaded-->
<script src="static/js/custom.js"></script>

</html>

{{end}}