{{define "base"}}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Invido site pre processor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/css/semantic.css" />
</head>

<body>
  <div class="ui container">

    <div class="ui attached message">
      <div class="header">
        Edit Post
      </div>
    </div>
    <form class="ui form attached fluid segment" action="/save-post/" method="POST">
      <div class="field">
        <label>Title</label>
        <input placeholder="TitlePost" name="titlepost" type="text" size="35" value='{{printf "%s" .TitlePost}}'>
      </div>
      <div class="field">
        <label>Post</label>
        <textarea rows="25" cols="110" name="contentpost" placeholder="ContentPost">{{printf "%s" .ContentPost}}</textarea>
      </div>
      <div>
        <input class="ui blue submit button" type="submit" value="Save">
        <a class="ui button" href="/create-page-index/">Create Index Pages</a>
        <a class="ui button" href="/exec-webgen/">Start Webgen</a>
      </div>
    </form>
    <div>
      <a class="ui button" href='{{printf "%s" .WebgenOutIndexFile}}' target="_blank">Navigate to webgen out</a>
    </div>
    <div>
      <p>
        {{printf "%s" .LastMessage}}
      </p>
    </div>

    <div class="ui vertical footer segment">
      <div class="ui container">
        <div class="ui stackable  divided equal ten stackable grid">
          <div class="five wide column">
            <h4 class="ui header">Version</h4>
            <p>Software build {{.Buildnr}}</p>
          </div>
          <div class="seven wide column">
            <h4 class="ui header">Info</h4>
            <p><i class="copyright icon"></i> 2018 by Invido.it</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Put here script to beloaded-->

</body>

</html>

{{end}}